<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Home page</h1>
    <p>Registrati o effettua il Log In</p>
    <ul>
      <% if (user) { %>
      <li>Benvenuto</li>
      <li><a href="/logout">Log out</a></li>
      <% } else { %>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup">Registrati</a></li>
      <% } %>
    </ul>
  </body>
</html>
