<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Home page</h1>
    <p>Registrati o effettua il Log In</p>

    <% if (user) { %> Benvenuto <%= user.nome %> <br />
    <a href="/logout">Log out</a><br />
    <a href="/user">Profilo</a>
    <% } else { %>
    <a href="/login">Log in</a>
    <a href="/signup">Registrati</a>
    <% } %>
  </body>
</html>
