<!DOCTYPE html>
<html>
  <head>
    <title>Modifica Password</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Modifica Password</h1>
    <form action="/user/profilo/modifica-password" method="POST">
      <label for="old">Vecchia password</label>
      <input type="password" id="old" name="vecchiaPsw" />
      <div class="password error"></div>
      <br />
      <label for="new">Password</label>
      <input type="password" id="new" name="nuovaPsw" />
      <div class="password error"></div>
      <br />
      <input type="submit" value="Modifica" />
    </form>
  </body>
</html>
