<!DOCTYPE html>
<html>
  <head>
    <title>Gestione Utente</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Gestione utente</h1>
    <a href="/user/profilo">Modifica profilo</a>
    <a href="#">Prenotazioni effettuate</a>
  </body>
</html>
