.host-container {
  margin: 0;
  padding: 0;
  /*  height: 100%;
  position: relative; */
}
.content-footer,
.content-container,
.body-col,
.foot-col,
.foot {
  padding: 0;
  margin: 0;
}
/* .content-footer,
.content-container {
  height: 100%;
} */
.content {
  padding: 30px;
}
#questura:hover,
#turismo:hover {
  background-color: #007bff;
  color: #ffffff;
}
/* INSERZIONI */
#visualizza,
#aggiungi,
#prenotazioni,
#contattaQ,
#contattaT {
  padding: 30px;
}
#preview {
  height: 100%;
  width: 100%;
}
.inserzione-footer {
  display: flex;
  justify-content: end;
}
.mod {
  margin-right: 10px;
}
.add-margin {
  margin-bottom: 30px;
}

/* FORM */
textarea {
  resize: none;
}

.img0:hover,
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover {
  opacity: 0.5;
}

/* PRENOTAZIONI */
.pren-card,
.req-card {
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
#req {
  border-right: 3px dashed rgba(0, 0, 0, 0.125);
}
.accept {
  margin-right: 20px;
}
.accept,
.deny {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.accDen {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .no-padding {
    padding: 0;
  }
  .add-padding {
    padding: 10px 0;
  }
}

@media (min-width: 576px) {
  /* MODIFICA INS */
  .modal-dialog {
    max-width: 85%;
  }
}

@media (max-width: 992px) {
  /* .inserzione-info {
    padding: 0 10px;
  } */
  .card-i {
    margin-bottom: 20px;
  }
  #req {
    border: none;
  }
}

@media (max-width: 768px) {
  /* .inserzione-info {
    padding: 0 10px;
  } */
}

@media (max-width: 576px) {
  /* MODIFICA INS */
  .modal-dialog {
    margin: 0.5rem;
  }
}

@media (max-width: 448px) {
  #visualizza,
  #aggiungi {
    padding: 20px 0;
  }
  .inserzione-footer {
    display: flex;
    justify-content: center;
  }
}
/* ----------- */
