.host-container {
  margin: 0;
  padding: 0;
  /*  height: 100%;
  position: relative; */
}
.content-footer,
.content-container,
.body-col,
.foot-col,
.foot {
  padding: 0;
  margin: 0;
}

.content {
  padding: 30px;
}
#questura:hover,
#turismo:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* DASHBOARD */

.dash-cards {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.dash-cards-info {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
}
.attuali {
  background-color: rgb(0, 255, 110);
}
.attuali > .card-body {
  display: flex;
  justify-content: center;
}

.attesi {
  background-color: rgb(255, 255, 79);
}

.ultimo-rendiconto {
  background-color: tomato;
}

.attuali:hover {
  background-color: rgb(0, 173, 75);
}

.attesi:hover {
  background-color: rgb(194, 194, 60);
}

.attesi:hover {
  background-color: rgb(194, 194, 60);
}

.ultimo-rendiconto:hover {
  background-color: rgb(179, 69, 49);
}

.guadagni-hidden {
  background-color: rgb(1, 223, 97);
}
.attesi-hidden {
  background-color: rgb(216, 216, 66);
}
.rendiconto-hidden {
  background-color: rgb(216, 83, 59);
}
.tabella-info {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
}

.previsti-value,
.guadagni-value,
.rendiconto-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-val {
  font-size: 1.1em;
}
.fa-coins,
.fa-chart-line,
.fa-user-clock {
  font-size: 2em;
}

/* INSERZIONI */
#visualizza,
#aggiungi,
#prenotazioni,
#contattaQ,
#contattaT {
  padding: 30px;
}
#preview {
  height: 100%;
  width: 100%;
}
.inserzione-footer {
  display: flex;
  justify-content: end;
}
.mod {
  margin-right: 10px;
}
.add-margin {
  margin-bottom: 30px;
}
.img-preview-container {
  margin-bottom: 30px;
  padding: 20px;
}
#no-imgs {
  display: flex;
  justify-content: center;
}

/* FORM */
textarea {
  resize: none;
}

.img0,
.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9 {
  cursor: pointer;
}

.img0:hover,
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover {
  opacity: 0.5;
}

/* PRENOTAZIONI */
.pren-card,
.req-card {
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
#req {
  border-right: 3px dashed rgba(0, 0, 0, 0.125);
}
.accept {
  margin-right: 20px;
}
.accept,
.deny {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.accDen {
  display: flex;
  justify-content: center;
}
.pren-btns {
  display: flex;
  margin-top: 15px;
}

/*  QUESTURA */
.pren-card-questura {
  cursor: pointer;
}
.pren-card-questura-container {
  margin-top: 20px;
}
.pren-card-questura-container:last-child {
  margin-bottom: 20px;
}
.guest-card {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.guest-list {
  margin-top: 10px;
  display: none;
}

#documenti-container {
  margin: 20px 0 20px 0;
}

/* TURSIMO */
#ricevuta-label {
  margin-top: 20px;
}
#documenti-upload #documenti,
#ricevuta-upload #ricevuta {
  overflow: hidden;
  width: 0;
}
#documenti-upload,
#ricevuta-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tatRend {
  margin-top: 20px;
}
#ricevuta-container {
  margin: 20px 0 20px 0;
}
.inputDocValue-cont,
.inputValue-cont {
  display: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
  margin: 0 0 20px 0;
}

#sendQ-container,
#send-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 992px) {
  .no-padding {
    padding: 0;
  }
  .add-padding {
    padding: 10px 0;
  }
}

@media (min-width: 576px) {
  /* MODIFICA INS */
  .modal-dialog {
    max-width: 85%;
  }
}

@media (max-width: 1232px) {
  .cancel {
    margin-top: 5px;
  }
}

@media (max-width: 992px) {
  .card-i {
    margin-bottom: 20px;
  }
  #req {
    border: none;
  }
  .cancel {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .ultimo-rendiconto {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  /* MODIFICA INS */
  .modal-dialog {
    margin: 0.5rem;
  }
  .attuali,
  .attesi {
    margin-top: 20px;
  }
}

@media (max-width: 448px) {
  #visualizza,
  #aggiungi {
    padding: 20px 0;
  }
  .inserzione-footer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 508px) {
  .cancel {
    margin-top: 5px;
  }
}

@media (max-width: 410px) {
  .pren-btns {
    flex-direction: column;
    align-items: center;
  }
  .contact,
  .identify {
    margin: 0 0 10px 0;
  }
  .contact,
  .identify,
  .cancel {
    width: 100%;
  }
  .cancel {
    margin-top: 0;
  }
}

@media (max-width: 332px) {
  .ins,
  .ric,
  .pre,
  .quest,
  .tur {
    font-size: 0.8em;
  }
}
/* ----------- */
