.sidebar {
  scroll-behavior: smooth;
}
.insertion-container {
  margin: 0;
  padding: 0;
}
.nav-content-footer,
.content-container,
.body-col,
.nav-col,
.foot-col,
.foot {
  padding: 0;
  margin: 0;
}
.body-col {
  position: relative;
}

.nav-content-footer {
  display: flex;
  flex-direction: column;
}

.nav-col,
.foot-col {
  flex: 1;
}
.body-col {
  flex: 100;
}

/* BACK BTN */
/* #back-btn {
  display: none;
} */

/* BODY */
.content {
  flex-grow: 1;
}
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content,
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 25%;
  /* background-color: #f1f1f1; */
  position: absolute;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* SIDEBAR */
.goDown {
  border-radius: 0.25rem 0.25rem 0 0;
}
.sidebar-heading-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.sidebar-date-row {
  margin: 15px 0;
  padding: 0 15px;
}
.form-date {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.form-guest {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.date-changer {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.125);
  position: relative;
}
.date-changer > .card-body > div > input {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}
#check-in,
#check-out {
  margin-bottom: 15px;
}
/* OVERRIDE COLORI DEL DATEPICKER */
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  border: 1px solid red;
  color: red;
}
.sumup {
  margin-top: 35px;
}
.sumup > table {
  margin-bottom: 0;
}
tbody {
  border: 1px solid #dee2e6;
}
.book-container {
  margin-top: 35px;
  padding: 0;
}
.book-btn {
  width: 100%;
}
/* CONTENT */
.content {
  height: 100%;
  width: 75%;
  padding: 30px;
  position: absolute;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
#carousel-container {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
}
.grid-container {
  display: flex;
  flex-direction: column;
}
.grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.second,
.third {
  margin-top: 10px;
}
.img-gallery:not(:last-child) {
  margin-right: 10px;
}
.img-gallery:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.img-gallery {
  flex: 1;
}
.city-row {
  margin-top: 30px;
}
.host-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#host-pic {
  background-size: cover;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
}
#host-name {
  margin-left: 20px;
}
.position-row,
.services-row,
.description-row,
.host-row {
  margin-top: 20px;
}
.services-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.position-row {
  height: 300px;
  margin-bottom: 30px;
}
.position-container {
  height: 100%;
}
.title-row {
  margin-top: 50px;
}
/* --------------- */

#book-menu {
  display: none;
}
@media (max-width: 991px) {
  .grid-container {
    display: none;
  }
  .sidebar {
    display: none;
    margin-top: 60px;
  }
  .content {
    width: 100%;
  }
  #book-menu,
  #back-btn {
    display: flex;
  }
  #book-menu {
    position: fixed;
    right: 20px;
    top: 97px;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  .title-row {
    margin-top: 50px;
  }
  .sidebar {
    z-index: 9;
    width: 50%;
  }
}
@media (max-width: 576px) {
  .sidebar {
    z-index: 9;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .content {
    padding: 15px;
  }
}
