#insertion-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

#insertion-content {
  height: 100%;
  flex: 100;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.modal-dialog {
  z-index: 100;
}

/* BOOK-MENU */
#book-menu {
  display: none;
  position: fixed;
  right: 20px;
  top: 97px;
  z-index: 10;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
}
/* ------------ */

/* BOOK-BTN */
#change-data {
  position: relative;
  width: 100%;
}
.book-btn {
  position: absolute;
  bottom: 0;
  border-radius: 0;
  width: 100%;
}
/* ------------ */

/* LEFT CONTENT */
#left {
  position: absolute;
  overflow-y: scroll;
  width: 75%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column;
}

#insertion-heading > h1 {
  text-align: center;
  margin: 35px 0 65px 0;
  font-weight: bolder;
}

#showcase {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 100px;
}

#carousel-container {
  width: 60%;
}

#description {
  width: 40%;
  padding-left: 30px;
  display: flex;
  flex-flow: column wrap;
}

#typografy {
  flex: 1;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200000;
}
#overlay:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#map {
  position: relative;
  flex: 10;
}

.modal-dialog {
  max-width: none;
  margin: 2em;
}

#citta > h3 {
  font-weight: bold;
}

/* ------------ */

/* RIGHT */
#right {
  display: block;
  position: absolute;
  overflow-y: scroll;
  right: 0;
  width: 25%;
  height: 100%;
}

#book-heading {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  text-decoration: underline;
  font-style: italic;
  padding: 10px;
}

#form-container {
  padding: 20px;
}

.change-data {
  border-radius: 30px;
}

#check-in {
  border-radius: 30px 30px 0 0;
}

#check-out {
  border-radius: 0;
}

#guestNum {
  border-radius: 0 0 30px 30px;
}

.form-select {
  padding: 30px;
}

#book-help {
  text-align: center;
  font-style: italic;
  margin-top: 15px;
}

#prenota > button {
  border-radius: 0;
  width: 100%;
  bottom: 0;
}

#recap-heading {
  text-align: center;
  margin-bottom: 28px;
  font-weight: 400;
}

#recap-container {
  padding: 0 20px 20px 20px;
  margin-bottom: 50px;
}

.recap {
  border: 0;
}

.recap-body {
  border-top: 3px solid rgb(166, 240, 166);
  border-right: 3px solid rgb(166, 240, 166);
  border-left: 3px solid rgb(166, 240, 166);
  display: flex;
  flex-direction: column;
  border-radius: 25px 25px 0 0;
}

#info {
  display: flex;
  flex-direction: row;
}

.left-label {
  float: 1;
  display: flex;
  justify-content: flex-start;
}

.right-label {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.recap-footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(166, 240, 166);
  border: 0;
  border-radius: 0 0 25px 25px !important;
}

#total-label {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

#total {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* --------------- */

/* OVERRIDE COLORI DEL DATEPICKER */
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  border: 1px solid red;
  color: red;
}
/* --------------- */

/* COLORI DEI FORM */
.invalid-field {
  border: 1px solid #d9534f;
}

/* MEDIA QUERY */
@media (max-width: 1090px) {
  #book-heading {
    margin-top: 70px;
  }
  #left {
    width: 100%;
  }
  #right {
    display: none;
    width: 50%;
    background-color: #ffffff;
    border-left: 1px solid #e4e4e4;
  }
  /* #form-container {
    margin-top: 57px;
  } */
  #book-menu {
    display: block;
  }
  /* Specifico il valore della larghezza
  In quanto il bottone lo erediterebbe
  dal contenitore*/
  .book-btn {
    width: 100%;
  }
  /* Left */
  #showcase {
    flex-direction: column;
  }
  #carousel-container {
    width: 100%;
  }
  #description {
    width: 100%;
    height: 500px;
    padding: 0;
    margin-top: 30px;
  }
  #map {
    height: 400px;
  }
}
@media (max-width: 576px) {
  #right {
    display: none;
    width: 100%;
    border: 0;
  }
}
@media (max-height: 450px) {
}
