#profile-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

#profile-content {
  height: 100%;
  flex: 100;
  display: flex;
  flex-flow: row wrap;
}

.side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  flex: 5;
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  padding: 10px;
}

#nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

#nav-card {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#card-head {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-pills {
  display: flex;
  flex-flow: column wrap;
}

.nav-link {
  text-align: center;
}

#showcase {
  height: 100%;
  flex: 3;
  display: flex;
}

#showcase-card {
  width: 100%;
  height: 100%;
  display: flex;
}

#showcase-card-body {
  width: 100%;
  display: flex;
}

.tab-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.tab-pane {
  width: 100%;
  height: 100%;
  display: flex;
}

#overview {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

#profile-header {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

form {
  flex: 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.mod {
  display: flex;
}

#mod-buttons {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#mod-buttons > h2 {
  text-align: center;
}

a.btn:not(:last-child) {
  margin-bottom: 20px;
}

#buttons-header {
  flex: 1;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

#buttons {
  flex: 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 100px;
}

#buttons > a:not(:last-child) {
  margin-bottom: 50px;
}

#footer {
  flex: 1;
}

/* MODIFICA PASSWORD */
#edit-pass {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
}

#header {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  height: 80%;
  display: flex;
  justify-content: center;
}

#form > form {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 50%;
}

#form > form > *:not(:last-child) {
  margin-bottom: 20px;
}

.modal-dialog {
  min-width: 300px;
  min-height: 300px;
}

.cropper-container {
  display: flex;
  justify-content: center;
}

.cropper-container {
  width: 100%;
}
/* ----------------- */

/* PASS COLOR SCHEMES */
.strongPass {
  border: 1px solid #5cb85c;
}

.mediumPass {
  border: 1px solid #f0ad4e;
}

.weakPass {
  border: 1px solid #d9534f;
}

.strongPassHelp {
  color: #5cb85c;
}

.mediumPassHelp {
  color: #f0ad4e;
}

.weakPassHelp {
  color: #d9534f;
}

/* ----------------- */

/* MEDIA QUERIES */

@media (max-width: 992px) {
  #center {
    flex: 20;
  }
}

@media (max-width: 768px) {
  .side {
    display: none;
  }
  #profile-header {
    margin: 0;
  }
  #buttons-header {
    margin: 0;
    margin-bottom: 20px;
  }
  #buttons {
    margin: 0;
  }
}

@media (max-width: 576px) {
  #profile-content {
    flex-flow: column wrap;
  }
  #center {
    flex-flow: column wrap;
  }
  #nav {
    margin: 0 0 10px 0;
  }
  #edit-pass {
    flex: 20;
  }
}

@media (max-height: 550px) {
  #form > form:last-child {
    margin-bottom: 20px;
  }
}
