.profile-container {
  margin: 0;
  padding: 0;
}
.content-footer,
.content-container,
.body-col,
.foot-col,
.foot {
  padding: 0;
  margin: 0;
}
.content {
  padding: 30px;
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-circle {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}
.profile-info-item:not(:first-child) {
  margin-top: 10px;
}
.profile-info-row,
.general-settings-row,
.prenotazioni-effettuate-row {
  margin-top: 25px;
}
.prenotazioni-effettuate-container {
  display: flex;
  align-items: center;
}
.value-cell {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
}
.prenotazioni-row {
  margin-top: 25px;
}
.pren-card {
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.125);
}
.pren-card:not(:first-child) {
  margin-top: 20px;
}
.profile-pren-btns {
  background-color: rgba(0, 0, 0, 0.025);
}
button[id^="contact"] {
  margin-right: 10px;
}
.settings-item-nav:first-child {
  margin-top: 15px;
}
.settings-item-nav {
  margin-bottom: 25px;
}
.btn-label {
  margin-bottom: 10px;
}

/* metodi pagamento */
.title-payment {
  margin-top: 20px;
}
.payment-cards {
  margin-top: 20px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}
.payment-cards:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.aggiungi-closed {
  margin-top: 20px;
  border: 3px dashed rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.aggiungi-opened {
  margin-top: 20px;
  border: 3px dashed rgba(0, 0, 0, 0.125);
}
.aggiungi-closed:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
#payment-form-container {
  display: none;
}
.add-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

textarea {
  resize: none;
}

.goDown {
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
}

#image-crop {
  scroll-behavior: smooth;
}

.imgage-crop-header {
  padding: 0;
  margin: 0;
}

/* .cropper-container img {
  width: 50% !important;
} */

/* .cropper-container > div {
  display: flex;
  justify-content: center;
} */

@media (max-width: 576px) {
  .date {
    margin-top: 10px;
  }
  .add {
    width: 100%;
  }
}
@media (max-width: 374px) {
  .title-container > h1,
  .username-container > h1 {
    font-size: 2em;
  }
}
