/* MODIFICHE GENERALI E PARTIALS */
html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
  height: 100%;
  width: 100%;
  color: #000000;
}

/* SPAZIATORI */
.side-spacer {
  flex: 1;
}

.center-spacer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* ---------------------------------- */

/* NAVBAR */
.navbar {
  display: flex;
  background-color: #ffffff;
}

.navbar-light,
.navbar-nav,
.nav-link {
  color: #000000;
}
/* ---------------------------------- */

/* INFO */
.jumbotron {
  margin: 0;
  display: none;
  padding: 2rem 1rem;
  color: #286cff;
}

#info-link {
  color: #000000;
  font-size: 20px;
  text-decoration: underline;
}

.infobox {
  display: flex;
}

.infobox-spacer {
  flex: 1;
  display: flex;
}

.infobox-item {
  flex: 10;
}

.close-button {
  justify-content: flex-end;
  align-items: flex-start;
}
/* ---------------------------------- */

/* FOOTER */
.page-footer {
  color: #4b4b4b;
  background-color: #111111;
}
/* ---------------------------------- */


/* MEDIA QUERIES */

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  .jumbotron {
    text-align: center;
  }
}

@media (max-width: 576px) {
}

/* 
xs
sm -> min-width: 576px
md -> min-width: 768px
lg -> min-width: 992px
xl
*/
