/* MODIFICHE GENERALI E PARTIALS */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #000000;
}

/* SPAZIATORI */
.inside-spacer,
.side-spacer {
  flex: 1;
}

.side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-spacer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* ---------------------------------- */

/* NAVBAR */
.navbar {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.navbar-light,
.navbar-nav,
.nav-link {
  color: #000000;
}
#navbarResponsive {
  justify-content: end;
}
.profile-circle {
  position: relative;
}
.profile-circle-overlay {
  width: "50px";
  height: "50px";
  position: absolute;
  right: 100px;
  top: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 100;
}
.profile-circle:hover {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.hidden-list {
  position: absolute;
  top: 60px;
  right: -33px;
  list-style-type: none;
  padding: 0;
  background-color: #f8f8f8;
  width: 200px;
  display: none;
}
.hidden-list > li > a {
  text-align: start;
}
.hidden-list > li > a:hover {
  color: #000000;
}

.normal-nav {
  cursor: pointer;
}

.mobile-nav {
  display: none;
}
/* ---------------------------------- */

/* BACK-BTN */
#back-btn {
  position: fixed;
  left: 20px;
  top: 97px;
  z-index: 10;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#back-btn:active {
  background-color: #004b8d;
}
/* --------- */

/* SEARCHBAR */
#search-box {
  display: flex;
  flex-flow: column wrap;
  margin-top: 40px;
}

.search-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #ffffff;
  border-radius: 35px;
  border: 5px solid #286cff;
}

#form-fields {
  flex: 14;
  display: flex;
}

.form-item:not(:last-child) > .form-input {
  padding: 30px;
}

.form-input {
  border: 0;
  border-radius: 30px;
  color: #000000;
}

.form-input:read-only {
  background-color: #ffffff;
}

.form-input:hover {
  background-color: #d4d4d4;
}

.form-input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  background-color: #d4d4d4;
}

.form-input::placeholder {
  color: #000000;
}

.form-select {
  border: 0;
  height: 60px;
  border-radius: 30px;

  /* Rimuovo la freccietta laterale */
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.form-select::-ms-expand {
  display: none;
}

#form-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#form-button > button {
  border: 0;
  border-radius: 50%;
  background-color: #286cff;
  color: #ffffff;
}

#form-button > button:hover {
  background-color: #000000;
}

#form-button > button > img {
  width: 43px;
  height: 43px;
}

.form-item {
  flex: 1;
}

#filters {
  margin: 20px 0 40px 0;
}

#plus-btn {
  margin-right: 5px;
}
/* --------- */

/* INFO */
.jumbotron {
  margin: 0;
  display: none;
  padding: 2rem 1rem;
  color: #286cff;
}

#info-link {
  color: #000000;
  font-size: 20px;
  text-decoration: underline;
}

.infobox {
  display: flex;
}

.infobox-spacer {
  flex: 1;
  display: flex;
}

.infobox-item {
  flex: 10;
}

.close-button {
  justify-content: flex-end;
  align-items: flex-start;
}
/* ---------------------------------- */

/* FOOTER */
.page-footer {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.25);
}
/* ---------------------------------- */

/* ROTATE ANIMATION */
.rotate-right {
  transform: rotate(45deg);
}
/* ---------------- */

/* SPINNER */
.spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
/* -------- */

/* MEDIA QUERIES */
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .jumbotron {
    text-align: center;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  #form-fields {
    display: flex;
    flex-direction: column;
  }

  #form-button {
    display: flex;
    justify-content: center;
  }

  #form-button > button {
    border-radius: 0 0 30px 30px;
    width: 100%;
  }

  select,
  .form-input {
    text-align: center;
  }

  .form-input::placeholder {
    text-align: center;
  }

  .normal-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }

  ul li span {
    float: left;
    width: 40px;
  }
}

@media (max-width: 576px) {
}

/* 
xs
sm -> min-width: 576px
md -> min-width: 768px
lg -> min-width: 992px
xl
*/
