<script>
  $(document).ready(() => {
    /* ON RELOAD */
    bsCustomFileInput.init();
    if ($(window).width() < "448") {
      $("#visualizza-tab").text("Visualizza");
      $("#aggiungi-tab").text("Aggiungi");
    } else {
      $("#visualizza-tab").text("Visualizza inserzioni");
      $("#aggiungi-tab").text("Aggiungi inserzione");
    }
    /* ------------------------------------------------- */

    /* INPUT FILE */
    $("#inputFile").on("change", () => {
      $("#inputFileLabel").text(() => {
        return "ciao";
      });
    });

    /* DATEPICKER */
    $("#inputInit, #inputFin").datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
      startDate: new Date(),
    });

    /* CHECKBOXES */
    // initial value
    $("#casa").prop("checked", true);
    $("#bnb").prop("checked", false);

    $("#casa").on("click", function () {
      if ($("#bnb").prop("checked")) {
        $("#bnb").prop("checked", false);
      } else {
        $(this).prop("checked", true);
      }
    });
    $("#bnb").on("click", function () {
      if ($("#casa").prop("checked")) {
        $("#casa").prop("checked", false);
      } else {
        $(this).prop("checked", true);
      }
    });
    /* ------------------------------------------------- */

    /* VISUALIZZA INSERZIONI */
    const inserzioni = JSON.parse("<%= inserzioni %>".replace(/&#34;/g, '"'));

    const immagini = {};
    inserzioni.forEach((inserzione, index) => {
      immagini[`${index}`] = inserzione.galleryPath.split(",");
    });

    if (inserzioni.length === 0) {
      $("#visualizza").append(`
          <div class="row justify-content-center align-items-center">
            <div class="col-10">
              <p class="text-justify">
                Non hai ancora nessuna inserzione. Vai su <u>Aggiungi inserzione</u> per iniziare!!
                <br>
              </p>
              <img src="/assets/images/notFound.png" style="width:100%; opacity:.35; margin-top: 30px">
            </div>
          </div>
        `);
    } else {
      inserzioni.forEach((inserzione, index) => {
        $("#visualizza").append(`
          <div class="row">
            <div class="col-12">
              <div class="card add-margin">
                <div class="card-body no-padding">
                  <div class="row">
                    <div class="col-md-12 col-lg-4">
                      <img src="/uploads/fotoInserzione${
                        immagini[index][0]
                      }" class="card-i" alt="img" style="width:100%">
                    </div>
                    <div class="col-md-12 col-lg-8 add-padding">
                      <b>${inserzione.nome_inserzione}</b>
                      <p>
                        <i>${
                          inserzione.citta[0].toUpperCase() +
                          inserzione.citta.slice(1)
                        }, ${inserzione.indirizzo}</i>
                        <br>
                        ${inserzione.inizioDisponibilita}&nbsp;
                        ${inserzione.fineDisponibilita}
                        <br>
                        ${inserzione.n_ospiti} ospiti,&nbsp;
                        ${inserzione.prezzo_base}&euro; x notte
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer inserzione-footer">
                  <button id="mod" class="btn btn-primary">Modifica</button>
                  <button id="del" class="btn btn-danger">Elimina</button>
                </div>
              </div>
            </div>
          </div>
        `);
      });
    }
    /* ------------------------------------------------- */

    /* TEST */

    /* const files = Array.from($("input[type=file]").prop("files"));
    console.log(files); */

    /* ------------------------------------------------- */

    /* AGGIUNGI INSERZIONE */
    $("form").on("submit", (e) => {
      e.preventDefault();

      let servizi = {};
      $("input[type=checkbox]").each((index, element) => {
        if ($(element).prop("checked")) {
          servizi[$(element).prop("id")] = 1;
        } else {
          servizi[$(element).prop("id")] = 0;
        }
      });

      const formData = new FormData();
      const images = $("input[type=file][multiple]").prop("files");

      for (let i = 0; i < images.length; i++) {
        formData.append("gallery", images[i]);
      }

      const ins = JSON.stringify({
        nome: $("#inputTitolo").val(),
        citta: $("#inputCity").val(),
        inizioDisp: $("#inputInit").val(),
        fineDisp: $("#inputFin").val(),
        nospiti: $("#inputOspiti").val(),
        desc: $("#inputDesc").val(),
        indirizzo: $("#inputAddress").val() + " " + $("#inputNum").val(),
        prezzo: $("#inputPrice").val(),
        servizi,
      });

      formData.append("inserzione", ins);

      fetch(`/host/crea_ins/fotoInserzione/<%= user.id %>/${Date.now()}`, {
        method: "PUT",
        body: formData,
      })
        .then(async (res) => {
          const response = await res.json();
          if (response.success) {
            console.log("Caricamento completato!");
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));

      /* const filesArr = [];
      for (let i = 0; i < files.length; i += 1) {
        filesArr.push(files[i]);
      }
      console.log(filesArr); */

      /* const file = new Blob([new Array(filesArr)], { type: "image/png" });
      var formdata = new FormData();
      formdata.append("gallery", file);

      console.log(formdata.getAll("gallery")); */

      /* const nome = $("#inputTitolo").val();
      const citta = $("#inputCity").val();
      const inizioDisp = $("#inputInit").val();
      const fineDisp = $("#inputFin").val();
      const nospiti = $("#inputOspiti").val();
      const desc = $("#inputDesc").val();
      const indirizzo = $("#inputAddress").val() + " " + $("#inputNum").val();
      const prezzo = $("#inputPrice").val();

      const ins = JSON.stringify({
        nome,
        citta,
        inizioDisp,
        fineDisp,
        nospiti,
        desc,
        indirizzo,
        prezzo,
        servizi,
      });

      fetch("/host/crea_ins/fotoInserzione/<%= user.id %>", {
        method: "POST",
        body: files[0],
      })
        .then(async (res) => {
          const response = await res.json();
          if (response.success) {
            console.log("Caricamento completato!");
            window.location.reload();
          }
        })
        .catch((err) => console.log(err)); */
    });
    /* ------------------------------------------------- */

    $(window).resize(() => {
      if ($(window).width() < "448") {
        $("#visualizza-tab").text("Visualizza");
        $("#aggiungi-tab").text("Aggiungi");
      } else {
        $("#visualizza-tab").text("Visualizza inserzioni");
        $("#aggiungi-tab").text("Aggiungi inserzione");
      }
    });
  });
</script>
