<script>
  $(document).ready(() => {
    /* LETs & CONSTs */
    // Creo un URL che contenga i miei parametri
    const params = new URLSearchParams(window.location.search);
    const inserzione = JSON.parse("<%= inserzione %>".replace(/&#34;/g, '"'));
    const reservedDates = JSON.parse("<%= date %>".replace(/&#34;/g, '"'));
    const search = window.location.search;
    let prezzoBase,
      nospiti,
      checkin,
      checkout,
      checkinDate,
      checkoutDate,
      nights,
      prezzoPerNotte,
      prezzoNotteServizio,
      prezzoTotale,
      dataInizioDatepicker;
    const servicesIcons = {
      wifi: `&nbsp;&nbsp;<i class="fas fa-wifi"></i>`,
      ascensore: `&nbsp;&nbsp;<i class="fas fa-arrow-up"></i>`,
      cucina: `&nbsp;&nbsp;<i class="fas fa-utensils"></i>`,
      essenziali: `&nbsp;&nbsp;<i class="fas fa-plus"></i>`,
      frigorifero: `&nbsp;&nbsp;<i class="fas fa-snowflake"></i>`,
      parcheggio: `&nbsp;&nbsp;<i class="fas fa-car-side"></i>`,
      piscina: `&nbsp;&nbsp;<i class="fas fa-swimmer"></i>`,
      riscaldamento: `&nbsp;&nbsp;<i class="fas fa-thermometer-half"></i>`,
    };
    /* --------------------------------------------------------- */

    /* ON REFRESH */
    // Inserisco nel form di dx i dati relativi alla ricerca attuale
    if (params.get("checkin") !== "" && params.get("checkout") !== "") {
      $("#check-in").val(params.get("checkin"));
      $("#check-out").val(params.get("checkout"));
      if (params.get("nospiti") !== "") {
        $("#guestNum").val(params.get("nospiti"));
      } else {
        $("#guestNum").val("");
      }

      checkin = params.get("checkin");
      checkout = params.get("checkout");

      checkinDate = new Date(checkin);
      checkoutDate = new Date(checkout);

      // Se prenoto per un giorno pagherò l'intera giornata
      // come se pernottassi
      if (checkin === checkout) {
        nights = 1;
      } else {
        nights = (checkoutDate - checkinDate) / (1000 * 3600 * 24);
      }
      $("#nights").html(nights);

      prezzoPerNotte = nights * inserzione.prezzo_base;
      prezzoNotteServizio = prezzoPerNotte + prezzoPerNotte * 0.07;
      prezzoTotale = prezzoNotteServizio + prezzoNotteServizio * 0.1;
      $("#total").html(prezzoTotale.toFixed(2) + " &euro;");
    } else {
      $("#total").html("0 &euro;");
      if (params.get("nospiti") !== "") {
        $("#guestNum").val(params.get("nospiti"));
      } else {
        $("input").val("");
      }
    }

    if (params.get("checkin") === "" || params.get("checkout") === "") {
      params.set("checkin", "");
      params.set("checkout", "");
      window.history.pushState(
        "",
        "",
        window.location.protocol +
          "//" +
          window.location.host +
          window.location.pathname +
          "?" +
          params.toString()
      );
    }

    checkin = params.get("checkin");
    checkout = params.get("checkout");

    if (checkin && checkout) {
      checkinDate = new Date(checkin);
      checkoutDate = new Date(checkout);

      // Se prenoto per un giorno pagherò l'intera giornata
      // come se pernottassi
      if (checkin === checkout) {
        nights = 1;
      } else {
        nights = (checkoutDate - checkinDate) / (1000 * 3600 * 24);
      }
    } else {
      nights = 0;
    }

    $("#nights").html(nights);
    $("#aNight").html(inserzione.prezzo_base + "&euro;");
    $("#servizio").html("7%");
    $("#iva").html("10%");
    /* --------------------------------------------------------- */

    /* CONTROLLI */
    $("input").each((index, element) => {
      $(element).on("focusout change input", () => {
        if ($(element).val() === "") {
          $(element).addClass("invalid-field is-invalid");
          $("#book-help > small").text(
            "Completa i campi per effettuare la prenotazione"
          );
        } else {
          $(element).removeClass("invalid-field is-invalid");
          if (
            $("input").hasClass("invalid-field is-invalid") ||
            $("input").val() === ""
          ) {
          } else {
            $("#book-help > small").text("");
          }
        }
      });
    });
    /* --------------------------------------------------------- */

    /* RIEPILOGO/RECAP */
    $("input").each((index, element) => {
      $(element).on("focusout change input", () => {
        if ($(element).attr("id") === "check-in") {
          checkin = $("#check-in").val();
        } else if ($(element).attr("id") === "check-out") {
          checkout = $("#check-out").val();
        } else {
          nospiti = $("#guestNum").val();
        }

        $("#total").html(
          `
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        `
        );

        if (checkin && checkout) {
          checkinDate = new Date(checkin);
          checkoutDate = new Date(checkout);

          // Se prenoto per un giorno pagherò l'intera giornata
          // come se pernottassi
          if (checkin === checkout) {
            nights = 1;
          } else {
            nights = (checkoutDate - checkinDate) / (1000 * 3600 * 24);
          }
          $("#nights").html(nights);

          prezzoPerNotte = nights * inserzione.prezzo_base;
          prezzoNotteServizio = prezzoPerNotte + prezzoPerNotte * 0.07;
          prezzoTotale = prezzoNotteServizio + prezzoNotteServizio * 0.1;
          setTimeout(() => {
            $("#total").html(prezzoTotale.toFixed(2) + " &euro;");
          }, 1000);
        } else {
          setTimeout(() => {
            $("#total").html("0 &euro;");
          }, 1000);
        }
      });
    });
    /* --------------------------------------------------------- */

    /* DATEPICKER */
    if (new Date(inserzione.inizioDisponibilita) < new Date()) {
      dataInizioDatepicker = new Date();
    } else {
      dataInizioDatepicker = inserzione.inizioDisponibilita;
    }

    $("#check-in").datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
      startDate: dataInizioDatepicker,
      endDate: inserzione.fineDisponibilita,
      datesDisabled: reservedDates,
    });

    $("#check-out").datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
      startDate: dataInizioDatepicker,
      endDate: inserzione.fineDisponibilita,
      datesDisabled: reservedDates,
    });

    $("#guestNum").attr("max", inserzione.n_ospiti);
    $("#guestNum").attr("min", 1);
    /* --------------------------------------------------------- */

    /* MODIFICO CHECKIN/OUT E NOSPITI */
    // Se l'utente desidera può modificare le date di checkin e checkout
    // e il numero degli ospiti, tramite un apposito form.
    // CHECKIN
    $("#check-in").on("change", () => {
      checkin = $("#check-in").val();
      checkout = $("#check-out").val();

      if (checkout === "") {
        params.set("checkin", $("#check-in").val());
        window.history.pushState(
          "",
          "",
          window.location.protocol +
            "//" +
            window.location.host +
            window.location.pathname +
            "?" +
            params.toString()
        );
      } else {
        const checkinDate = new Date(checkin);
        const checkoutDate = new Date(checkout);

        if (checkinDate > checkoutDate) {
          $("#check-out").datepicker("update", checkin);
          params.set("checkin", $("#check-out").val());
          window.history.pushState(
            "",
            "",
            window.location.protocol +
              "//" +
              window.location.host +
              window.location.pathname +
              "?" +
              params.toString()
          );
        } else {
          let flag = 1;
          for (let i = 0; i < reservedDates.length; i += 1) {
            let currentCheckIn = new Date(reservedDates[i]);
            if (currentCheckIn > checkinDate) {
              let j = i;
              for (j; j < reservedDates.length; j += 1) {
                let currentCheckOut = new Date(reservedDates[j]);
                if (currentCheckOut < checkoutDate) {
                  // trovo una data inferiore già
                  // prenotata in mezzo alle date di
                  // checkin e checkout
                  // setto il checkout = checkin

                  $("#check-out").datepicker("update", checkin);
                  flag = 0;
                }
                if (!flag) {
                  break;
                }
              }
            }
            if (!flag) {
              break;
            }
          }

          params.set("checkin", $("#check-in").val());
          window.history.pushState(
            "",
            "",
            window.location.protocol +
              "//" +
              window.location.host +
              window.location.pathname +
              "?" +
              params.toString()
          );
        }
      }
    });
    // CHECKOUT
    $("#check-out").on("change", () => {
      // controllo sul campo di checkout
      const checkin = $("#check-in").val();
      const checkout = $("#check-out").val();

      // Controllo se il campo check in è vuoto
      // oppure se viene inserito un checkout
      // inferiore al checkin
      if (checkin === "") {
        $("#check-out").val("");
        $("#check-in").focus();
      } else {
        const checkinDate = new Date(checkin);
        const checkoutDate = new Date(checkout);
        if (checkoutDate < checkinDate) {
          $("#check-out").datepicker("update", checkin);
          params.set("checkout", $("#check-out").val());
          window.history.pushState(
            "",
            "",
            window.location.protocol +
              "//" +
              window.location.host +
              window.location.pathname +
              "?" +
              params.toString()
          );
        } else {
          let flag = 1;
          for (let i = 0; i < reservedDates.length; i += 1) {
            let currentCheckIn = new Date(reservedDates[i]);
            if (currentCheckIn > checkinDate) {
              let j = i;

              for (j; j < reservedDates.length; j += 1) {
                let currentCheckOut = new Date(reservedDates[j]);
                if (currentCheckOut < checkoutDate) {
                  // trovo una data inferiore già
                  // prenotata in mezzo alle date di
                  // checkin e checkout
                  // setto il checkout = checkin
                  $("#check-out").datepicker("update", checkin);
                  flag = 0;
                }
                if (!flag) {
                  break;
                }
              }
            }
            if (!flag) {
              break;
            }
          }

          params.set("checkout", $("#check-out").val());
          window.history.pushState(
            "",
            "",
            window.location.protocol +
              "//" +
              window.location.host +
              window.location.pathname +
              "?" +
              params.toString()
          );
        }
      }

      window.history.pushState(
        "",
        "",
        window.location.protocol +
          "//" +
          window.location.host +
          window.location.pathname +
          "?" +
          params.toString()
      );
    });
    // N_OSPITI
    $("#guestNum").on("change", () => {
      params.set("nospiti", $("#guestNum").val());
      nospiti = $("#guestNum").val();
      window.history.pushState(
        "",
        "",
        window.location.protocol +
          "//" +
          window.location.host +
          window.location.pathname +
          "?" +
          params.toString()
      );
    });
    /* --------------------------------------------------------- */

    /* RIEMPIO  */
    // Titolo
    $(".title-container").append(
      `<h1><b>${inserzione.nome_inserzione}</b></h1>`
    );
    // Carosello
    let imgs = inserzione.galleryPath.split(",");
    for (let i = 0; i < imgs.length; i += 1) {
      if (i === 0) {
        $(".carousel-inner").append(
          `
          <div class="carousel-item active">
            <div style="background-image: url('/uploads/fotoInserzione${imgs[i]}'); background-size:cover; background-position: center; width:100%; height:350px; ">
            </div>
          </div>
          `
        );
      } else {
        $(".carousel-inner").append(
          `
          <div class="carousel-item">
            <div style="background-image: url('/uploads/fotoInserzione${imgs[i]}'); background-size:cover; background-position: center; width:100%; height:350px; ">
            </div>
          </div>
          `
        );
      }

      // GRIGLIA
      if (i <= 2) {
        $(".first").append(
          `
        <div class="img-gallery" style="background-image: url('/uploads/fotoInserzione${imgs[i]}'); background-size:cover; background-position: center; width: 100%; height: 100%; ">
        `
        );
      } else if (i <= 5) {
        $(".second").append(
          `
        <div class="img-gallery" style="background-image: url('/uploads/fotoInserzione${imgs[i]}'); background-size:cover; background-position: center; width: 100%; height: 100%; ">
        `
        );
      } else {
        $(".third").append(
          `
        <div class="img-gallery" style="background-image: url('/uploads/fotoInserzione${imgs[i]}'); background-size:cover; background-position: center; width: 100%; height: 100%; ">
        `
        );
      }
    }

    // CITTÀ
    $(".city-container").append(
      `
      <h2><b>${inserzione.citta}</b></h2>
      `
    );
    // INDIRIZZO
    $(".address-container").append(
      `
      <p class="text-muted"><i>${inserzione.indirizzo}</i></p>
      `
    );
    // HOST
    if (inserzione.utente.imagePath) {
      $(".host-container").append(
        `
        <div id="host-pic" style="background-image: url('${inserzione.utente.imagePath.slice(
          6
        )}')"></div>
        <div id="host-name">
          <b>${inserzione.utente.nome}&nbsp;${inserzione.utente.cognome}</b>
        </div>
        `
      );
    } else {
      $(".host-container").append(
        `
        <div id="host-pic" style="background-image: url('/assets/images/profile_pics/profile-placeholder.png')" ></div>
        <div id="host-name">
          <b>${inserzione.utente.nome}&nbsp;${inserzione.utente.cognome}</b>
        </div>
        `
      );
    }

    $(".description-container").append(
      `
      <p class="text-justify">${inserzione.descrizione}</p>
      `
    );
    // SERVIZI
    Object.keys(inserzione.servizi).forEach((servizio, index) => {
      if (
        servizio !== "casaFlag" &&
        servizio !== "bnbFlag" &&
        servizio !== "ref_inserzione_s"
      ) {
        if (inserzione.servizi[servizio] === 1) {
          $(".services-container > ul").append(
            `
            <li>${
              servizio[0].toUpperCase() +
              servizio.slice(1, servizio.length - 4) +
              servicesIcons[servizio.slice(0, servizio.length - 4)]
            }</li>
            `
          );
        }
      }
    });
    // POSIZIONE
    $(".city-address").append(
      `<h4>${inserzione.citta},</h4><p class="text-muted"><i>${inserzione.indirizzo}</i></p>`
    );
    $(".position-container").append(
      `
      <iframe
        width="100%"
        height="100%"
        frameborder="0"
        style="border: 0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDS70zwyWHYnuia677DVOj8CRqfAzI00Qo&q=${inserzione.citta},${inserzione.indirizzo}"
        allowfullscreen
      >
      `
    );
    /* --------------------------------------------------------- */

    /* BACK BTN */
    $("#back-btn").on("click", () => {
      window.location.href =
        window.location.protocol +
        "//" +
        window.location.host +
        "/search" +
        search;
    });
    /* --------------------------------------------------------- */

    /* BOOK BTN */
    $("#book-menu").on("click", () => {
      $(".sidebar").toggle("slide");
    });

    /* INVIO DATI */
    $(".book-btn").on("click", (e) => {
      e.preventDefault();
      // controllo sui campi vuoti o errati
      // in queste circostanze l'evento submit
      // viene fermato
      let flag = true;

      $("input").each((index, element) => {
        if (
          $(element).attr("class").includes("is-invalid") ||
          $(element).val() === ""
        ) {
          $(element).addClass("invalid-field is-invalid");
          $("#book-help > small").text(
            "Completa i campi per effettuare la prenotazione"
          );
          flag = false;
          return;
        }
      });

      if (!flag) {
        return;
      }
      /* -------- */

      // Aggiorno i form di input
      $("input").removeClass("invalid-field is-invalid");
      $("#book-help > small").text("");

      if (nights <= 28) {
        fetch(`/inserzione/prenota/${inserzione.id_inserzione}/${nights}`, {
          method: "GET",
          redirect: "follow",
        })
          .then(async (res) => {
            const response = await res.json();
            if (response.success) {
              window.location.href = `/inserzione/prenota/pagamento${window.location.search}&prezzo=${prezzoTotale}`;
            } else {
              $("#exampleModal").modal("show");
              $("#left").css("overflow", "hidden");
              $(".text-msg").text(
                `Hai superato il numero massimo di giorni relativi all'anno  ${new Date().getFullYear()}  trascorribili in questo B&B/casa vacanze!`
              );
            }
          })
          .catch((err) => {
            window.location.href = "/login";
          });
      } else {
        $("#exampleModal").modal("show");
        $("#left").css("overflow", "hidden");
        $(".text-msg").text("Non puoi pernottare per più di 28 giorni!");
      }
    });
    /* --------------------------------------------------------- */
  });
</script>
