<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include("./partials/head.ejs", {style: "style.css", title: "Home"}) %>

  <body>
    <!--CUSTOM FONT-->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
    </style>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>

    <!-- Info -->
    <%- include("./partials/info.ejs") %>

    <div id="home">
      <div id="home-container">
        <!-- Overlay -->
        <div id="overlay"></div>

        <div class="side-spacer"></div>

        <!-- Content -->
        <div id="home-center-space">
          <div class="center-spacer"></div>

          <div class="center-spacer home-content">
            <div class="center-spacer">
              <h1 id="home-title">
                <strong>Un'esperienza incredibile</strong>
              </h1>
            </div>
            <div class="center-spacer">
              <form action="" class="home-form">
                <div id="form-fields">
                  <div class="form-item">
                    <input
                      class="form-control form-input location"
                      type="text"
                      id="location"
                      placeholder="Destinazione"
                    />
                  </div>
                  <div class="form-item">
                    <input
                      type="text"
                      autocomplete="off"
                      id="check-in"
                      class="form-control form-input"
                      placeholder="Check-in"
                      readonly
                    />
                  </div>
                  <div class="form-item">
                    <input
                      type="text"
                      autocomplete="off"
                      id="check-out"
                      class="form-control form-input"
                      placeholder="Check-out"
                      readonly
                    />
                  </div>
                  <div class="form-item">
                    <input
                      class="form-control form-input form-select"
                      id="guestNum"
                      type="number"
                      min="1"
                      max="50"
                      size="4"
                      maxlength="4"
                      placeholder="Ospiti"
                    />
                  </div>
                </div>
                <div id="form-button">
                  <button>
                    <img
                      src="/assets/icons/search_icon_white.png"
                      alt="Cerca"
                    />
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="center-spacer"></div>
        </div>

        <div class="side-spacer"></div>
      </div>

      <div class="footer">
        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>
      </div>
    </div>

    <script>
      // Il metodo ready fa si che lo script venga eseguito solo
      // quando il browser ha terminato il parsing della pagina.
      $(document).ready(() => {
        // Azzero i campi del form al riavvio della pagina
        $("input").val("");

        // Nascondo l'infobox al caricamento della pagina
        $(".jumbotron").hide(0);

        // Mostro l'infobox con un'animazione di 1s
        $(".jumbotron").slideDown(1000);

        // Se desiderato, l'utente può chiudere l'infobox
        // cliccando sulla croce in alto. Animazione di 1s
        $("button.close").on("click", () => {
          $(".jumbotron").slideUp(1000);
        });

        // datepicker logic
        $("#check-in").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        $("#check-out").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        // Metodo di ricerca sul submit del form
        $(".home-form").on("submit", (e) => {
          e.preventDefault();

          try {
            // Memorizzo i parametri del form in apposite variabili
            const citta = $("#location").val();
            const checkin = $("#check-in").val();
            const checkout = $("#check-out").val();
            const nospiti = $("#guestNum").val();

            // Reindirizzo alla pagina di ricerca, passando una query
            // nel URL con tutti i relativi parametri di ricerca
            window.location.href = `/search?citta=${citta}&checkin=${checkin}&checkout=${checkout}&nospiti=${nospiti}`;
          } catch (e) {
            console.log(e);
          }
        });
      });
    </script>
  </body>
</html>
