<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include("./partials/head.ejs", {style: "style.css", title: "Home"}) %>

  <body>
    <!--CUSTOM FONT-->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
    </style>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>

    <!-- Info -->
    <%- include("./partials/info.ejs") %>

    <div id="home">
      <div id="home-container">
        <!-- Overlay -->
        <div id="overlay"></div>

        <div class="side-spacer"></div>

        <!-- Content -->
        <div id="home-center-space">
          <div class="center-spacer"></div>

          <div class="center-spacer home-content">
            <div class="center-spacer">
              <h1 id="home-title">
                <strong>Un'esperienza incredibile</strong>
              </h1>
            </div>
            <div class="center-spacer">
              <form action="" class="home-form">
                <div id="form-fields">
                  <div class="form-item">
                    <input
                      class="form-control form-input location"
                      type="text"
                      id="location"
                      placeholder="Destinazione"
                    />
                  </div>
                  <div class="form-item">
                    <input
                      type="text"
                      autocomplete="off"
                      id="check-in"
                      class="form-control form-input"
                      placeholder="Check-in"
                      readonly
                    />
                  </div>
                  <div class="form-item">
                    <input
                      type="text"
                      autocomplete="off"
                      id="check-out"
                      class="form-control form-input"
                      placeholder="Check-out"
                      readonly
                    />
                  </div>
                  <div class="form-item">
                    <input
                      class="form-control form-input form-select"
                      id="guestNum"
                      type="number"
                      min="1"
                      max="50"
                      size="4"
                      maxlength="4"
                      placeholder="Ospiti"
                    />
                  </div>
                </div>
                <div id="form-button">
                  <button>
                    <img
                      src="/assets/icons/search_icon_white.png"
                      alt="Cerca"
                    />
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="center-spacer"></div>
        </div>

        <div class="side-spacer"></div>
      </div>

      <div class="footer">
        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>
      </div>
    </div>

    <script>
      // jquery code
      // il metodo ready fa si che lo script venga eseguito solo
      // quando il browser ha terminato il parsing della pagina.
      $(document).ready(() => {
        // infobox hide
        $(".jumbotron").hide(0);

        // infobox pop up
        $(".jumbotron").slideDown(1000);

        // infobox closed
        $("button.close").on("click", () => {
          $(".jumbotron").slideUp(1000);
        });

        // datepicker logic
        $("#check-in").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        $("#check-out").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        // fetch
        $(".home-form").on("submit", (e) => {
          e.preventDefault();

          try {
            // salvo i parametri del form
            const citta = $("#location").val();
            const checkin = $("#check-in").val();
            const checkout = $("#check-out").val();
            const nospiti = $("#guestNum").val();

            // eseguo una fetch
            /* fetch(
              `/search?citta=${citta}&checkin=${checkin}&checkout=${checkout}&nospiti=${nospiti}`,
              {
                method: "POST",
                redirect: "follow",
              }
            )
              .then((res) => {
                if (res.redirected) {
                  window.location.href = `/search/res?citta=${citta}&checkin=${checkin}&checkout=${checkout}&nospiti=${nospiti}`;
                }
              })
              .catch((err) => {
                console.log(err);
              }); */
            window.location.href = `/search?citta=${citta}&checkin=${checkin}&checkout=${checkout}&nospiti=${nospiti}`;
          } catch (e) {
            console.log(e);
          }

          /*fetch("/search", {
            method: "POST",
            body: JSON.stringify({ citta, checkin, checkout, nospiti }),
            headers: { "Content-Type": "application/json" },
          })
            .then(async (res) => {
              const response = await res.json();
              if (response.error) {
                alert("nessuna inserzione");
              }
            })
            .catch((err) => console.log("Errore: ", err)); */
        });
      });
    </script>
  </body>
</html>
