<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs', {title: "Login"}) %>
  <body>
    <!-- CONTENT -->

    <div id="login">
      <div id="login-container">
        <div class="side-spacer"></div>

        <div id="middle-space">
          <div class="center-spacer"></div>

          <div class="center-login">
            <div class="center-spacer image-container">
              <a href="/"><img src="/assets/images/logo-sm.jpg" alt="" /></a>
            </div>

            <div class="login-container">
              <div class="inside-spacer"></div>
              <div id="middle-space">
                <form action="/login" id="form-container">
                  <div class="form-item">
                    <div class="form-item">
                      <input
                        type="text"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                        autocomplete="false"
                      />
                    </div>
                    <div class="form-item">
                      <small id="emailHelp" class="text-danger"></small>
                    </div>
                  </div>
                  <div class="form-item">
                    <div class="form-item">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                      />
                    </div>
                    <div class="form-item">
                      <small id="passwordHelp" class="text-danger"></small>
                    </div>
                  </div>
                  <div class="form-item">
                    <button class="login-button">Accedi</button>
                  </div>
                  <div class="form-item">
                    <p>
                      Non hai un account?
                      <a href="/signup">Registrati</a>
                    </p>
                  </div>
                </form>
              </div>
              <div class="inside-spacer"></div>
            </div>
          </div>

          <div class="center-spacer"></div>
        </div>

        <div class="side-spacer"></div>
      </div>

      <div class="footer">
        <!-- FOOTER -->
        <%- include('./partials/footer.ejs') %>
      </div>
    </div>
    <%- include("../public/scripts/login-script.ejs") %>
  </body>
</html>
