<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs', {title: "Accedi"}) %>
  <body>
    <div class="container-fluid h-100">
      <div class="row content-row h-100">
        <div class="col-12 content-container">
          <div class="row center h-100">
            <div class="col-10 col-sm-8 center-content">
              <div class="row logo">
                <div class="col-12 logo-container">
                  <a href="/"
                    ><img
                      id="logo-img"
                      src="/assets/images/logo-sm.jpg"
                      alt="AIR-BDBA"
                  /></a>
                </div>
              </div>
              <div class="row login-row">
                <div class="col-12 login-container">
                  <form action="/login" id="form-container">
                    <div class="form-item">
                      <div class="form-item">
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Email"
                          autocomplete="false"
                        />
                      </div>
                      <div class="form-item">
                        <small id="emailHelp" class="text-danger"></small>
                      </div>
                    </div>
                    <div class="form-item">
                      <div class="form-item">
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          placeholder="Password"
                        />
                      </div>
                      <div class="form-item">
                        <small id="passwordHelp" class="text-danger"></small>
                      </div>
                    </div>
                    <div class="form-item">
                      <button class="login-button btn btn-primary">
                        Accedi
                      </button>
                    </div>
                    <div class="form-item">
                      <p>
                        Non hai un account?
                        <a href="/signup">Registrati</a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 footer-container align-self-end">
          <!-- FOOTER -->
          <%- include('./partials/footer.ejs') %>
        </div>
      </div>
    </div>
    <!-- ACCEDI SCRIPT -->
    <%- include("../public/scripts/accedi-script.ejs") %>
  </body>
</html>
