<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs", {title: "Profile"}) %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div id="back-btn" class="btn btn-primary">&#8617; Indietro</div>
    <div id="profile-wrapper">
      <div id="profile-content">
        <div class="side"></div>
        <div id="edit-pass">
          <div id="header">
            <h1>Modifica password</h1>
          </div>
          <div id="form">
            <form>
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                placeholder="Email"
              />
              <small class="fieldHelp emailHelp text-danger"></small>
              <input
                type="password"
                id="oldPass"
                class="form-control"
                name="vecchiaPsw"
                placeholder="Vecchia Password"
              />
              <small class="fieldHelp oldPassHelp text-danger"></small>
              <input
                type="password"
                id="newPass"
                class="form-control"
                name="nuovaPsw"
                placeholder="Nuova password"
              />
              <small class="fieldHelp newPassHelp text-danger"></small>
              <input
                type="password"
                id="newPassVerify"
                class="form-control"
                name="nuovaPsw"
                placeholder="Verifica nuova password"
              />
              <small class="fieldHelp newPassVerifyHelp text-danger"></small>
              <input type="submit" class="btn btn-primary" value="Modifica" />
            </form>
          </div>
        </div>
        <div class="side"></div>
      </div>
      <div id="footer"><%- include("./partials/footer.ejs") %></div>
    </div>
  </body>
</html>
