<!DOCTYPE html>
<html>
  <head>
    <title>Profilo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/profilo/modifica-password">Modifica password</a>
    <a href="#">Foto Profilo</a>
  </body>
</html>
