<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs", {title: "Disconnesso"}) %>
  <body>
    <div class="container-fluid connection-container h-100">
      <div class="row nav-content-footer h-100">
        <div class="col-12 body-col">
          <div class="row connection-img-row">
            <div class="col-12 connection-img"></div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary reload">Riprova</button>
            </div>
          </div>
        </div>
        <div class="col-12 foot-col align-self-end">
          <%- include("./partials/footer.ejs") %>
        </div>
      </div>
    </div>
    <script>
      $(".reload").on("click", () => {
        window.location.reload();
      });
    </script>
  </body>
</html>
