<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs", {title: "404"}) %>
  <body>
    <div class="container-fluid error-container h-100">
      <div class="row nav-content-footer h-100">
        <div class="col-12 nav-col align-self-start">
          <%- include("./partials/barraDiNavigazione.ejs") %>
        </div>
        <div class="col-12 body-col">
          <div class="row error-img-row">
            <div class="col-12 error-img"></div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="/" class="btn btn-primary back-home"> Home</a>
            </div>
          </div>
        </div>
        <div class="col-12 foot-col align-self-end">
          <%- include("./partials/footer.ejs") %>
        </div>
      </div>
    </div>
    <!-- GENERAL SCRIPT -->
    <%- include("../public/scripts/general-script.ejs") %>
  </body>
</html>
