<!DOCTYPE html>
<html>
  <%- include("./partials/head", {title: "Search"}) %>
  <body>
    <div id="search-wrapper">
      <%- include("./partials/nav.ejs") %>
      <div id="search-content">
        <div class="side"></div>
        <div id="center">
          <%- include("./partials/searchBox.ejs") %>
          <div id="content"></div>
        </div>
        <div class="side"></div>
      </div>
      <div id="footer"><%- include("./partials/footer.ejs") %></div>
    </div>

    <script>
      $("document").ready(() => {
        // Creo una variabile che mantiene la lista con le inserzioni
        let response_list;

        fetch(`/search/res${window.location.search}`)
          .then(async (res) => {
            const response = await res.json();

            // Salvo la lista nella variabile
            response_list = response.search_list;

            // Itero la lista e per ogni inserzione creo una card
            response_list.forEach((element, index) => {
              // Creo un card generica che mi mantiene le informazioni
              const card = `
                <div class="card">
                  <div class="card-body-container">
                    <div class="img-container">
                    <img class="card-img-top" src="${element.galleryPath}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <div class="title">
                        <h2>
                          <strong>
                          ${element.nome_inserzione}
                          </strong>
                        </h2>
                      </div>
                      <div class="citta">
                        <h4>
                          <i>
                          ${element.citta}
                          </i>
                        </h4>
                      </div>
                      <div class="descrizione">
                        <p>${element.descrizione}</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-success">
                    <div class="btn-container">
                      <button id="${element.id_inserzione}" class="btn btn-primary">Visita inserzione</button>
                    </div>
                    <div class="price">
                      <i>${element.prezzo_base} &euro;</i>
                    </div>
                  </div>
                </div>
              `;

              // Inserisco la card nel contenitore
              $("#content").append(card);
              $(`#${element.id_inserzione}`).on("click", () => {
                window.location.href = `/inserzione?id=${element.id_inserzione}`;
              });
            });
          })
          .catch((err) => console.log(err));

        // Filter button animation
        $("#filter-btn").on("click", () => {
          if ($("#filter-btn > img").hasClass("rotate-right")) {
            $("#filter-btn > img").removeClass("rotate-right");
          } else {
            $("#filter-btn > img").addClass("rotate-right");
          }
        });

        // datepicker logic
        $("#check-in").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        $("#check-out").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        // Search logic
        $(".search-form").on("submit", (e) => {
          e.preventDefault();

          try {
            // Memorizzo i parametri del form in apposite variabili
            const citta = $("#location").val();
            const checkin = $("#check-in").val();
            const checkout = $("#check-out").val();
            const nospiti = $("#guestNum").val();

            // Reindirizzo alla pagina di ricerca, passando una query
            // nel URL con tutti i relativi parametri di ricerca
            window.location.href = `/search?citta=${citta}&checkin=${checkin}&checkout=${checkout}&nospiti=${nospiti}`;
          } catch (e) {
            console.log(e);
          }
        });
      });
    </script>
  </body>
</html>
