<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs', {title: "Signup"}) %>
  <body>
    <div id="signup">
      <div id="signup-container">
        <div class="side-spacer"></div>

        <div id="middle-space">
          <div class="center-spacer"></div>

          <div class="center-signup">
            <div class="center-spacer image-container">
              <a href="/"><img src="/assets/images/logo-sm.jpg" alt="" /></a>
            </div>

            <div class="signup-container">
              <div class="inside-spacer"></div>
              <div id="middle-space">
                <form action="/signup" id="form-container">
                  <div class="form-item">
                    <div class="form-item">
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        id="nome"
                        placeholder="Nome"
                        autocomplete="false"
                      />
                    </div>
                    <div class="form-item">
                      <small
                        name="nome"
                        id="nameHelp"
                        class="text-danger"
                      ></small>
                    </div>
                  </div>
                  <div class="form-item">
                    <div class="form-item">
                      <input
                        type="text"
                        name="surname"
                        class="form-control"
                        id="cognome"
                        placeholder="Cognome"
                      />
                    </div>
                    <div class="form-item">
                      <small
                        name="cognome"
                        id="surnameHelp"
                        class="text-danger"
                      ></small>
                    </div>
                  </div>
                  <div class="form-item">
                    <div class="form-item">
                      <input
                        type="text"
                        name="email"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                      />
                    </div>
                    <div class="form-item">
                      <small
                        name="email"
                        id="emailHelp"
                        class="text-danger"
                      ></small>
                    </div>
                  </div>
                  <div class="form-item">
                    <div class="form-item">
                      <input
                        type="password"
                        name="password"
                        title="Almeno 8 caratteri, una lettera maiuscola e un numero"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                      />
                    </div>
                    <div class="form-item">
                      <small name="password" id="passwordHelp"></small>
                    </div>
                  </div>
                  <div class="form-item">
                    <div class="form-item">
                      <input
                        type="password"
                        name="confermaPassword"
                        class="form-control"
                        id="confermaPassword"
                        placeholder="Conferma password"
                      />
                    </div>
                    <div class="form-item">
                      <small
                        id="confermaPasswordHelp"
                        class="text-danger"
                      ></small>
                    </div>
                  </div>
                  <div class="form-item">
                    <button class="signup-button">Registrati</button>
                  </div>
                  <div class="form-item">
                    <p>Hai già un account? <a href="/login">Accedi</a></p>
                  </div>
                </form>
              </div>
              <div class="inside-spacer"></div>
            </div>
          </div>

          <div class="center-spacer"></div>
        </div>

        <div class="side-spacer"></div>
      </div>

      <div class="footer">
        <!-- FOOTER -->
        <%- include('./partials/footer.ejs') %>
      </div>
    </div>
    <%- include("../public/scripts/general-script.ejs") %>
  </body>
</html>
