<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Utenti</title>
  </head>
  <body>
    <script>
      try {
        const res = await fetch("./users", {
          method: "GET",
        });

        const data = await res.json();
      } catch (err) {
        console.log(err.message);
      }
    </script>
  </body>
</html>
