<div class="card">
  <div class="card-body-container">
    <div class="img-container">
      <img
        class="card-img-top"
        src="${element.galleryPath}"
        alt="Card image cap"
      />
    </div>
    <div class="card-body">
      <div class="title">
        <h2>
          <strong> ${element.nome_inserzione} </strong>
        </h2>
      </div>
      <div class="citta">
        <h4>
          <i> ${element.citta} </i>
        </h4>
      </div>
      <div class="descrizione">
        <p>${element.descrizione}</p>
      </div>
    </div>
  </div>
  <div class="card-footer text-success">
    <div class="btn-container">
      <button id="${element.id_inserzione}" class="btn btn-primary">
        Visita inserzione
      </button>
    </div>
    <div class="price">
      <i>${element.prezzo_base} &euro;</i>
    </div>
  </div>
</div>
