<!-- Modal -->
<div
  class="modal fade"
  id="confirmCanc"
  tabindex="-1"
  aria-labelledby="confirmCancLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmCancLabel">Attenzione!</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">
          Sei sicuro di voler annullare questa prenotazione? I soldi saranno
          rimborsati al cliente.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary confirmC">Accetto</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>
