<!-- Modal -->
<div
  class="modal fade"
  id="deleteMethod"
  tabindex="-1"
  aria-labelledby="deleteMethodLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h2>Attenzione!</h2>
        <p class="text-justify">
          Sei sicuro di voler eliminare questo metodo di pagamento?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="deleteMethodBtn">
          Si
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>
