<p>
  <a
    id="filter-btn"
    data-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <img
      src="/assets/icons/add.png"
      alt="Suca"
      style="width: 16px; height: 16px"
    />
  </a>
  <i>filtri</i>
</p>
<div class="collapse filter-list" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
    anderson cred nesciunt sapiente ea proident.
  </div>
</div>
