<head>
  <title>AIR BDBA | <%= title %></title>

  <!-- META -->
  <meta charset="UTF-8" />
  <meta name="keywords" content="AirBdba, viaggi" />
  <meta name="description" content="Bed & Breakfast renting page" />

  <!-- Questo tag permette di adattare in modo efficente la pagina in base al
    dispositivo in cui viene mostrata -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Questo tag aiuta a miglirare l'indicizzazione della pagina nelle ricerche  -->
  <meta name="robots" content="noindex" />

  <!--BOOTSTRAP-->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>

  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- DATEPICKER -->
  <script src="/lib/bootstrap-datepicker.js"></script>
  <link rel="stylesheet" href="/lib/bootstrap-datepicker.css" />

  <!--PERSONALI-->
  <link rel="stylesheet" href="/stylesheets/<%= style %>" />
  <link rel="stylesheet" href="/stylesheets/<%= title.toLowerCase() %>.css" />
</head>
