<div
  class="modal fade"
  id="image-crop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body cropper-container">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <img id="image" src="" style="max-width: 100%" />
        </div>
      </div>
      <div class="modal-footer">
        <form id="save-avatar" enctype="multipart/form-data">
          <input
            name="avatar"
            type="file"
            id="imgupload"
            style="display: none"
          />
          <button type="submit" class="btn btn-primary" id="save-img">
            Salva
          </button>
        </form>

        <button class="btn btn-primary" id="OpenImgUpload">Carica</button>
        <button
          type="button"
          class="btn btn-danger"
          id="close"
          data-dismiss="modal"
        >
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>
