<div class="jumbotron jumbotron-fluid infobox">
    <div class="infobox-spacer"></div>
    <div class="infobox-item">
      <h1 class="display-4">Emergenza Covid-19</h1>
      <p class="lead">Per noi la salute dei notri clienti è importante.</p>
      <a id="info-link" href="http://www.salute.gov.it/portale/home.html">Scopri le informazioni più recenti sull'emergenza COVID-19</a>
    </div>
    <div class="infobox-spacer close-button">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
</div>