<!-- Modal -->
<div
  class="modal fade"
  id="payment"
  tabindex="-1"
  aria-labelledby="paymentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body payment-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="title-payment">I tuoi metodi di pagamento</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>
