<nav class="navbar navbar-expand-md navbar-light sticky-top">
  <!-- bg-light -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/assets/images/logo-xs.jpg" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if (user) { %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto mobile-nav">
        <li class="nav-item active">
          <a class="nav-link profile-nav" href="/profilo"
            ><span class="profile-circle-mobile"></span
            >&nbsp;&nbsp;&nbsp;Profilo</a
          >
        </li>
        <% if (user.isHost) { %>
        <li class="nav-item active">
          <a class="nav-link exit-nav" href="/host">Pannello Host</a>
        </li>
        <% } else { %>
        <li class="nav-item active">
          <a class="nav-link exit-nav become-host-btn" href="#"
            >Diventa host &#9733;</a
          >
        </li>
        <% } %>
        <li class="nav-item active">
          <a class="nav-link exit-nav" href="/logout">Esci</a>
        </li>
      </ul>

      <div class="profile-circle normal-nav">
        <div class="profile-circle-overlay"></div>
        <ul class="hidden-list">
          <li>
            <a class="nav-link profile-nav" href="/profilo">Profilo</a>
          </li>
          <% if (user.isHost) { %>
          <li class="nav-item active">
            <a class="nav-link host-nav" href="/host">Gestione Host</a>
          </li>
          <% } else { %>
          <li class="nav-item active">
            <a class="nav-link become-host-btn" href="#"
              >Diventa Host &#9733;</a
            >
          </li>
          <% } %>
          <li>
            <a class="nav-link exit-nav" href="/logout">Esci</a>
          </li>
        </ul>
      </div>
    </div>
    <% } else { %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" id="login-nav" href="/login">Accedi</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" id="signup-nav" href="/signup">Registrati</a>
        </li>
      </ul>
    </div>
    <% } %>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="becomeHost"
  tabindex="-1"
  aria-labelledby="becomeHostLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="becomeHostLabel">Diventa un Host</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">
          Diventando un Host avrai la possibilità di inserire le tue inserzioni
          e iniziare a guadagnare nello straordinario mondo dei B&B!!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Chiudi
        </button>
        <button type="button" class="btn btn-primary" id="acceptBecomeHost">
          Accetta &#9733;
        </button>
      </div>
    </div>
  </div>
</div>
