<nav class="navbar navbar-expand-md navbar-light sticky-top">
  <!-- bg-light -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/assets/images/logo-xs.jpg" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if (user) { %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto mobile-nav">
        <li class="nav-item active">
          <a class="nav-link profile-nav" href="/profilo"
            ><span class="profile-circle-mobile"></span
            >&nbsp;&nbsp;&nbsp;Profilo</a
          >
        </li>
        <% if (user.isHost) { %>
        <li class="nav-item active">
          <a class="nav-link exit-nav" href="#">Pannello Host</a>
        </li>
        <% } else { %>
        <li class="nav-item active">
          <a class="nav-link exit-nav" href="#">Diventa host</a>
        </li>
        <% } %>
        <li class="nav-item active">
          <a class="nav-link exit-nav" href="/logout">Esci</a>
        </li>
      </ul>

      <div class="profile-circle normal-nav">
        <div class="profile-circle-overlay"></div>
        <ul class="hidden-list">
          <li>
            <a class="nav-link profile-nav" href="/profilo">Profilo</a>
          </li>
          <% if (user.isHost) { %>
          <li class="nav-item active">
            <a class="nav-link exit-nav" href="#">Gestione Host</a>
          </li>
          <% } else { %>
          <li class="nav-item active">
            <a class="nav-link exit-nav" href="#">Diventa Host</a>
          </li>
          <% } %>
          <li>
            <a class="nav-link exit-nav" href="/logout">Esci</a>
          </li>
        </ul>
      </div>
    </div>
    <% } else { %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" id="login-nav" href="/login">Accedi</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" id="signup-nav" href="/signup">Registrati</a>
        </li>
      </ul>
    </div>
    <% } %>
  </div>
</nav>
