<div id="recap-container">
  <h5 id="recap-heading">Riepilogo</h5>
  <div class="card recap">
    <div class="card-body recap-body">
      <div id="info">
        <div id="nights-label" class="info-item left-label">Notti</div>
        <div id="nights" class="info-item right-label">10</div>
      </div>
      <div id="info">
        <div id="checkin-label" class="info-item left-label">Check in</div>
        <div id="check-in-value" class="info-item right-label">10</div>
      </div>
      <div id="info">
        <div id="checkout-label" class="info-item left-label">Check out</div>
        <div id="check-out-value" class="info-item right-label">10</div>
      </div>
      <div id="info">
        <div id="nospiti-label" class="info-item left-label">Ospiti</div>
        <div id="nospiti-value" class="info-item right-label">10</div>
      </div>
    </div>
    <div class="card-footer recap-footer">
      <div id="total-label">Totale:</div>
      <div id="total"></div>
    </div>
  </div>
</div>
