<div id="recap-container">
  <h5 id="recap-heading">Riepilogo</h5>
  <div class="card">
    <div class="card-header">
      <div id="total-label">Totale:</div>
      <div id="total"></div>
    </div>
    <div class="card-body">Ciaone</div>
  </div>
</div>
