<div id="recap-container">
  <h5 id="recap-heading">Riepilogo</h5>
  <div class="card recap">
    <div class="card-body recap-body">
      <div id="info">
        <div id="tax-label" class="info-item left-label">Tassa:</div>
        <div id="tax" class="info-item right-label">10 &euro;</div>
      </div>
      <hr />
    </div>
    <div class="card-footer recap-footer">
      <div id="total-label">Totale:</div>
      <div id="total"></div>
    </div>
  </div>
</div>
