<div id="search-box">
  <div id="search">
    <form action="" class="search-form">
      <div id="form-fields">
        <div class="form-item">
          <input
            class="form-control form-input location"
            data-toggle="tooltip"
            data-placement="top"
            title="Inserisci una destinazione!"
            type="text"
            id="location"
            placeholder="Destinazione"
          />
        </div>
        <div class="form-item">
          <input
            type="text"
            autocomplete="off"
            id="check-in"
            class="form-control form-input isEmpty"
            placeholder="Check-in"
            readonly
          />
        </div>
        <div class="form-item">
          <input
            type="text"
            autocomplete="off"
            id="check-out"
            class="form-control form-input isEmpty"
            placeholder="Check-out"
            readonly
          />
        </div>
        <div class="form-item">
          <input
            class="form-control form-input form-select"
            id="guestNum"
            type="number"
            min="1"
            max="50"
            size="4"
            maxlength="4"
            placeholder="Ospiti"
          />
        </div>
      </div>
      <div id="form-button">
        <button>
          <img src="/assets/icons/search_icon_white.png" alt="Cerca" />
        </button>
      </div>
    </form>
  </div>
  <div id="filters">
    <p>
      <a
        id="filter-btn"
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        <img
          id="plus-btn"
          src="/assets/icons/add.png"
          style="width: 16px; height: 16px"
        />
      </a>
      <i><strong>filtri</strong></i>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body filters">
        <div class="alert alert-info" role="alert">
          Scegli i servizi che fanno al caso tuo!
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="casa"
                  />
                  <label class="custom-control-label" for="casa"
                    >Casa vacanza&nbsp;&nbsp;<i class="fas fa-home"></i>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="bnb"
                  />
                  <label class="custom-control-label" for="bnb"
                    >B&B&nbsp;&nbsp;<i class="fas fa-bed"></i>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="wifi"
                  />
                  <label class="custom-control-label" for="wifi"
                    >Wi-Fi&nbsp;&nbsp;<i class="fas fa-wifi"></i>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="riscaldamento"
                  />
                  <label class="custom-control-label" for="riscaldamento"
                    >Riscaldamento&nbsp;&nbsp;<i
                      class="fas fa-thermometer-half"
                    ></i
                  ></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="frigorifero"
                  />
                  <label class="custom-control-label" for="frigorifero"
                    >Frigorifero&nbsp;&nbsp;<i class="fas fa-snowflake"></i
                  ></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="parcheggio"
                  />
                  <label class="custom-control-label" for="parcheggio"
                    >Parcheggio&nbsp;&nbsp;<i class="fas fa-car-side"></i
                  ></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="ascensore"
                  />
                  <label class="custom-control-label" for="ascensore"
                    >Ascensore&nbsp;&nbsp;<i class="fas fa-arrow-up"></i
                  ></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="cucina"
                  />
                  <label class="custom-control-label" for="cucina"
                    >Cucina&nbsp;&nbsp;<i class="fas fa-utensils"></i
                  ></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="essenziali"
                  />
                  <label class="custom-control-label" for="essenziali"
                    >Essenziali&nbsp;&nbsp;<i class="fas fa-plus"></i
                  ></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="piscina"
                  />
                  <label class="custom-control-label" for="piscina"
                    >Piscina&nbsp;&nbsp;<i class="fas fa-swimmer"></i
                  ></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
